<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ConverterApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>support</param-name>
		<param-value>admin@netcracker.com</param-value>
	</context-param>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.nc.servlets.HelloServlet</servlet-class>
		<init-param>
			<param-name>companyName</param-name>
			<param-value>NetCracker Ltd.</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello.html</url-pattern>
	</servlet-mapping>
	<!-- http://localhost:8008/ConvertorApp/hello.html -->
	<servlet>
		<servlet-name>Life</servlet-name>
		<servlet-class>com.nc.servlets.LifeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Life</servlet-name>
		<url-pattern>/Life</url-pattern>
	</servlet-mapping>
</web-app>